<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{item.name}}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wishlist_app/css/bootstrap.css' %}">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Wishlist | {{ user.first_name }}</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/success">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Item Information -->
    <div class="container-fluid">
        <h1 class="page-header">{{item.name}}</h1>
        <h5 class="sub-header">Users who added this product/item under their wish list</h5>
        {% for user in item.item_user.all %}
            <p><a href="/userInfo/{{ user.id }}">{{ user.first_name }}</a></p>
        {% endfor %}
    </div>
</html>
